@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';
@import 'sass/helpers/extends';

@import 'sass/base/reset';
@import 'sass/base/typography';
@import 'sass/layout/header';
@import 'sass/layout/sidebar';

@import 'sass/components/navbar';
@import 'sass/components/carousel';
@import 'sass/components/accordion';

@import 'sass/components/forms';
@import 'sass/pages/home';
@import 'sass/helpers/classes';


body::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba($maincolor, 0.5);

    &:hover {
        background-color: rgba($maincolor, 1);
    }
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}


.side-bar::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.side-bar::-webkit-scrollbar-thumb {
    background-color: rgba(#6963b6, 0.5);

    &:hover {
        background-color: #6963b6;
    }
}

.side-bar::-webkit-scrollbar-track {
    background-color: transparent;
}