@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';
@import 'sass/helpers/extends';

@import 'sass/base/reset';
@import 'sass/base/typography';
@import 'sass/layout/header';
@import 'sass/layout/sidebar';

@import 'sass/components/navbar';
@import 'sass/components/carousel';
@import 'sass/components/accordion';

@import 'sass/components/forms';
@import 'sass/pages/home';
@import 'sass/helpers/classes';


body::-webkit-scrollbar {
    background-color: rgba($maincolor, 0.2);
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba($maincolor, 0.5);
    border-radius: 25px;

    &:hover {
        background-color: rgba($maincolor, 0.7);
    }
}

body::-webkit-scrollbar-track {
    background-color: rgba($maincolor, 0.2);
}


.side-bar::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

.side-bar::-webkit-scrollbar-thumb {
    background-color: rgba(#6963b6, 0.5);

    border-radius: 25px;

    &:hover {
        background-color: #6963b6;
    }
}

.side-bar::-webkit-scrollbar-track {
    background-color: transparent;
}

.our-products {
    position: absolute;
    right: -1040px;
    width: 1040px;
    opacity: 0;
    background-color: #f7f7f7;
    z-index: -1;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 5px;
    top: 200px;
    overflow: hidden;
    @include transition(all 0.7s ease-in-out);

    @media(max-width: 992px) {
        display: none;
    }
}

.cat {

    margin: 0 10px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: $maincolor;
    @include transition(all 0.7s ease-in-out);
    overflow: hidden;

    .cat-img {
        border: 1px solid #ededed;
        width: 150px;
        height: 150px;
        overflow: hidden;
        @include transition(all 0.7s ease-in-out);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        overflow: hidden;
        margin-bottom: 6px;
    }

    img {
        @include transition(all 0.7s ease-in-out);
    }

    &:hover {
        color: #d2a138;

        .cat-img {
            border: 1px solid #d2a138;

        }

        img {

            transform: scale(1.1);
        }
    }
}

html[dir="ltr"] .our-products {

    right: auto;
    left: 295px;
}

.mega-product-btn {

    width: 100%;
    @include transition(all 0.3s ease-in-out);

    a {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        width: 100%;
    }

    i {
        font-size: 10px;
        color: #5a54b0;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        i {
            color: #d2a138;
        }

        .link-li a.link {
            color: #d2a138;
        }
    }
}