.side-bar {

    .accordion {
        cursor: pointer;
        width: 100%;
        transition: 0.5s;


        &:after {
            content: '\002B';
            color: #fff;
            // margin-left: 25px;
            font-size: 18px;
            float: left;
            font-weight: bold;
        }

        &.active {
            color: #6963b6;

            &:after {
                content: "\2212";
                color: #6963b6;
            }
        }

        &:hover {
            &:after {
                color: #6963b6;
            }
        }
    }

    .panel {
        padding: 0 15px;
        padding-left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        margin-bottom: 0;
        z-index: 99999;
    }

}

html[dir="ltr"] .side-bar {

    .accordion {
        &:after {

            float: right;
        }
    }

    .panel {
        padding: 0 15px;
        padding-right: 0;
    }
}