.side-bar {

    .accordion {
        cursor: pointer;
        width: 100%;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: space-between;


        i {
            color: #6963b6;
            // margin-left: 25px;
            font-size: 10px;
            @include transition(all 0.5s ease-in-out);
        }

        &.active {
            color: #d2a138;

            i {
                color: #d2a138;
                transform: rotate(-90deg);
            }
        }

        &:hover {
            i {
                color: #d2a138;
            }
        }
    }

    .panel {
        padding: 0 15px;
        padding-left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
        margin-bottom: 0;
        z-index: 99999;
    }

}

html[dir="ltr"] .side-bar {

    .accordion {
        &.active {

            i {
                transform: rotate(90deg);
            }
        }
    }

    .panel {
        padding: 0 15px;
        padding-right: 0;
    }
}