.main-slider {
    position: relative;
    width: 100%;

    .owl-dots {

        margin-top: 0;
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translatex(-50%);

        @media (max-width: 991px) {
            bottom: 10px;
        }

        @media (max-width: 577px) {
            bottom: 5px;
        }


        .owl-dot {
            @extend %fix;

            span {
                margin: 0 3px;
                width: 9px;
                height: 9px;
                background-color: rgba(0, 0, 0, 0.5);
                @include transition(all 0.3s ease-in-out);
            }

            &.active {
                span {
                    background-color: rgba(255, 255, 255, 1);
                }
            }

            &:hover {
                span {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}