@font-face {
    font-family: 'roman';
    src: url('../fonts/frutiger/FrutigerLTArabic-55Roman.ttf');
}

@font-face {
    font-family: 'roman-light';
    src: url('../fonts/frutiger/FrutigerLTArabic-45Light.ttf');
}

@font-face {
    font-family: 'roman-bold';
    src: url('../fonts/frutiger/FrutigerLTArabic-65Bold.ttf');
}

@font-face {
    font-family: 'roman-black';
    src: url('../fonts/frutiger/FrutigerLTArabic-75Black.ttf');
}