.site-body {
    padding: 0;
    padding-right: 295px;
    margin: 0;
    width: auto;
    @include transition(all 0.7s ease-in-out);

    @media (max-width: 767px) {
        padding-right: 0;
    }
}

html[dir="ltr"] .site-body {
    padding-right: 0;
    padding-left: 295px;

    @media (max-width: 767px) {
        padding-right: 0;
        padding-left: 0;
    }
}


.services {
    display: flex;
    margin: 39px 0;
    justify-content: center;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}



.service {
    border: 1px solid rgb(237, 237, 237);
    height: 133px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $maincolor;
    font-size: 16px;
    text-align: center;

    &:nth-of-type(2) {
        margin: 0 20px;

        @media (max-width: 767px) {
            width: 100%;
            margin: 0 0 20px;
        }
    }

    img {
        margin-bottom: 20px;
        @include transition(all 0.5s ease-in-out);
    }

    &:hover {
        img {
            transform: rotate(360deg);

        }
    }

    @media (max-width: 767px) {
        width: 100%;
        margin: 0 0 20px;
    }
}


.latest-header {
    display: flex;
    background-color: $maincolor;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding-left: 30px;


    h1 {
        margin: 0;
        font-size: 18px;
        font-family: roman-bold;
        color: $seccolor;
        background-color: #42429b;
        padding: 0 43px;
        height: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            background-color: transparent;
            font-size: 16px;
            width: auto;
            padding: 0;
        }
    }

    a {
        margin: 0;
        font-size: 14px;
        color: #7e79c9;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: #fff;
        }
    }

    @media (max-width: 767px) {
        padding: 0 15px;
    }
}

html[dir="ltr"] .latest-header {
    padding-right: 30px;
    padding-left: 0;


    @media (max-width: 767px) {
        padding: 0 15px;
    }
}

.product {
    margin-top: 20px;
}

html[dir="ltr"] .product-img {
    .sale {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.product-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 245px;
    @include transition(all 0.5s ease-in-out);
    z-index: 1;

    img {
        min-height: 100%;
        min-width: 100%;
        @include transition(all 0.5s ease-in-out);
    }

    .sale {
        position: absolute;
        right: 0;
        bottom: 18px;
        background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgb(235, 198, 56) 0%, rgb(217, 165, 50) 100%);
        background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgb(235, 198, 56) 0%, rgb(217, 165, 50) 100%);
        background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgb(235, 198, 56) 0%, rgb(217, 165, 50) 100%);
        width: 91px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        color: $seccolor;
        font-size: 14px;
        font-family: roman-black;
    }

    .tools {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -40px;
        animation: tools-out 0.5s ease forwards;

        span {
            border-radius: 50%;
            background-color: rgba(#42429b, 0.9);
            width: 40px;
            height: 40px;
            margin-bottom: 3px;
            font-size: 14px;
            color: $seccolor;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include transition(all 0.5s ease-in-out);

            &:hover {
                background-color: rgba($maincolor, 1);
            }
        }
    }

    &:hover {
        .tools {
            animation: tools-in 0.7s ease forwards;

            span {
                transform: rotate(360deg);
                @include transition(all 0.7s ease-in-out);
            }
        }
    }
}

html[dir="ltr"] .product-img {
    .sale {

        right: auto;
        left: 0;
    }

    .tools {

        left: auto;
        right: -40px;

    }
}

.info {
    display: flex;
    text-align: right;
    align-items: center;
    border: 1px solid #ededed;
    border-top: none;
    width: 100%;
    padding: 12px 18px 21px;
    justify-content: space-between;
    @include transition(all 0.5s ease-in-out);
}

html[dir="ltr"] .info {
    text-align: left;
}


.infotxt {
    display: flex;
    flex-direction: column;
}

.product-name {
    color: $maincolor;
    font-size: 14px;
}

.new-price {
    direction: ltr;
    display: block;
    font-size: 18px;
    color: $maincolor;
    font-family: roman-bold;
    margin: 9px 0 1px;
}

.old-price {
    direction: ltr;
    display: block;
    color: #afafb0;
    text-decoration: line-through;
    font-size: 16px;

}


.therating {
    font-size: 12px;

    .far {
        color: #cecece;
    }

    .fas {
        color: #ffd537;
    }
}




.placeholder {
    margin-bottom: 10px;
    overflow: hidden;

    .product {
        border: 2px solid #f4f4f4;
    }

    .product-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-image {
        font-size: 60px;
        color: #ededed;
        display: block;
        position: relative;
    }

    .info {
        border: none;
    }

    .product-name {
        font-size: 0;
        height: 12px;
        width: 205px;
        background-color: #ededed;
        position: relative;
    }

    .new-price {
        font-size: 0;
        height: 10px;
        width: 110px;
        background: #ededed;
        margin: 18px 0 10px;
        position: relative;
    }

    .old-price {
        font-size: 0;
        height: 10px;
        width: 110px;
        background: #ededed;
        margin: 0;
        position: relative;
    }

    .therating {
        font-size: 12px;
        display: flex;
        margin-right: -50px;
        margin-top: 10px;

        .far {
            color: #ededed;
        }
    }

    .fa-image:after,
    .product-name:after,
    .new-price:after,
    .old-price:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 80%;
        background-color: #fff;
        opacity: 0.25;
        -webkit-animation: prodloading 1s ease-in infinite;
        -o-animation: prodloading 1s ease-in infinite;
        animation: prodloading 1s ease-in infinite;
    }
}


@keyframes prodloading {

    0%,
    100% {
        left: 100%;
    }

    50% {
        left: -100%;
    }
}